*{
	margin:0;
	padding:0;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
/*==========登录页面start================*/
.denglu{
	position:fixed;
	width:100%;
	height:100%;
	background:rgb(0,0,0,.3);
	.deng{
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		background:red;
		width:450px;
		height:329px;
	}
}
/*==========登录页面end==================*/




/*==========头部导行start==================*/
.tophead{
	width:100%;
	height:38px;
	background:rgb(57,64,67);
	.topheadcenter{
		margin:0 auto;
		width:1150px;
		height:38px;
		>.left{
			float:left;
			>li{
				float:left;
				margin-right:21.5px;
				a{
					color:rgb(169,171,171);
					font-size:12px;
					line-height:38px;
					&.er{
						color:#fff;
					}
					&:hover{
						color:#fff;
					}

				}
			}
		}
		>.right{
			float:right;
			.icon-wszl{
				color:rgb(116,121,123);
				font-size:14px;
			}
			.icon-dianhua{
				color:rgb(116,121,123);
				font-size:14px;
			}
			>li{
				float:left;
				margin-left:20px;

				a{
					color:#fff;
					font-size:12px;
					line-height:38px;
					&.topxio::after{
						content:"/";
						font-size:14px;
					}
				}
				
			}
		}
    }
}
/*==========头部导行end==================*/




/*===================头标start====================*/
.header{
	width:100%;
	height:98.5px;
	padding:30px 0 20px 0;
	background:rgb(245,245,246);
	.header1{
		width:1150px;
		height:28.5px;
		margin:0 auto;
		.biao1{
			float:left;
			>li{
				float:left;
				a{
					line-height:28.5px;
					color:rgb(57, 64, 67);
					margin-left:20px;
				}
				.biao1{
					margin:0 30px 0 20px;
					color:rgb(0, 174, 102);
				}
				.biaotu{
					display:block;
					width:100px;
					height:32px;
					background-image:url(../image/sprite.png);
					background-position:-385px -591px;
				}
			}
		}
		.biao2{
			float:right;
			li{
				.icon-shouji{
					margin-right:8px;
					font-size:18px;
					color:#000;
				}
				a{
					line-height:28.5px;
					color:rgb(57, 64, 67);
				}
			}
		}
	}
}

.search{
	padding-left:30px;
	margin:0 auto;
	margin-top:25px;						
	width:1150px;
	height:45px;
	.input{
		width:710px;
		height:45px;
		button{
			border:none;
			width:50px;
			height:45px;
			background:#fff;
		}
		.icon-chazhao{
			font-size:16px;
		}
		input{
			padding-left:20px;
			width:600px;
			height:45px;
			border:0;
		}
	}
}
/* ====================头标end====================*/ 


