*{
	padding:0;
	margin:0;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.headbox{
	width:100%;
	height:60px;
	background-color:rgb(245,245,246);
	margin-bottom:40px;
}
.dao{
	height:60px;
	float:right;
	line-height:60px;
}
.headbox ul:nth-child(1){
	float:left;
}
.dao li a{
	color:#6C707A;
}
/*=================================================*/
.zhuce{
	width:374px;
	height:480px;
	margin:0 auto;
	/*background-color:#ddd;*/
}
.zhuceul>li{
	width:374px;
	height:57px;
	line-height:57px;
	border:1px solid rgb(228, 228, 228);
}
.zhuceul input{
	margin-left:15px;
	border:none;
}
.zhuce h1{
	color:rgb(51,51,51);
	font-size:35px;
	height:75px;
	width:374px;
}
.zhuce h1 .a{
	line-height:75px;
	float:right;
	font-size:12px;
	color:rgb(57, 172, 106);
}
 #fa{
 	line-height:33px;
 	text-align:center;
	border:1px solid rgb(228, 228, 228);
	border-radius:5px;
	margin:13px 5px 0 0;
	float:right;
	width:112px;
	height:33px;
	background-color:#fff;
	color:rgb(153, 153, 153);
}
.zhu{
	display:block;
	text-align:center;
	border-radius:5px;
	width:374px;
	height:59px;
	color:#fff;
	background:rgb(0,180,106);
}
.xian span{
	margin-left:5px;
	font-size:14px;
	color:rgb(51,51,51);
}
.xian a{
	font-size:14px;
	color:rgb(57, 172, 106);
}
/*========================================*/
.footer{
	width:680px;
	margin:0 auto;
	margin-top:120px;
	font-size:12px;
	color:rgb(153,153,153);
}
p{
	height:20px;
	font-size:12px;
	color:rgb(153,153,153);
}
.footer2{
	height:20px;
	width:200px;
	margin:0 auto;
}
#pa{
	line-height:20px;
	margin-left:3px;
	float:right;
	height:20px;
	font-size:12px;
	color:rgb(153,153,153);	
}
img{
	float:left;
}